<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap em si-->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
        rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous"
    />

    <!--Icones bootstrap-->
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" 
    />

    <!--Css com algumas utilidades-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

    <title>Lista de usuários - Unblocker</title>
</head>

<body>


    {% if method=='POST' %}
    <div class="toast-container p-3 top-0 start-50 translate-middle-x">
        <div id="toast" class="toast {{ 'bg-danger' if response.error else 'bg-success'}} text-white" role="alert" aria-live="assertive" aria-atomic="true"  data-bs-delay="2000">
            <div class="toast-header {{ 'bg-danger' if response.error else 'bg-success'}} text-white">
                <strong class="me-auto">Aviso</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{response.data}}
            </div>
        </div>
    </div>
    {% endif %}
    
    <main class="d-flex justify-content-center align-items-center vw-100 h-100 position-absolute top-0 start-0">
        <div class="d-flex flex-column w-75 h-75 justify-content-center">
            <header class="d-flex justify-content-center">
                <h1>Lista de Usuários <i class="bi bi-people"></i></h1>
            </header>
            <div class="d-flex h-auto overflow-auto mh-75">
                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Permissão</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for user in user_list %}
                        <tr>
                            <td scope="col" class="align-middle">
                                {{user['username']}}
                            </td>
                            <td scope="col" class="align-middle">
                                {{user['email']}}
                            </td>

                            <td scope="col" class="align-middle">
                                {% if user['permission'] == 0 %}
                                    <span>Usuario</span>
                                {% elif user['permission'] == 1 %}
                                    <span>Administrador</span>
                                {% endif %}
                            </td>
                            <td scope="col">
                                <!--Botoes de ações-->
                                <div>

                                    <!--Editar-->
                                    <a href="/users/{{user['id']}}"  class="btn btn-light" title="Editar">
                                        <i class="bi bi-pencil-square text-black"></i>
                                    </a>

                                    <!--Excluir-->
                                    <form action="/users" method="POST" class="d-inline">
                                        <button class="btn btn-light"  title="Remover">
                                            <i class="bi bi-trash3 text-black"></i>
                                        </button>
                                        <input type="hidden" name="delete" value="{{user['id']}}">
                                    </form>
                                    

                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="vstack gap-2 position-fixed bottom-0 end-0 me-2 mb-2" >

            <!--Adicionar-->
            <a 
                href="/users/create" 
                class="bg-primary text-white d-flex justify-content-center align-items-center rounded side-button"
                title="Adicionar"
            >
                <i class="bi bi-plus-lg fs-1 justify-content-center align-items-center"></i>
            </a>

            <!--Voltar-->
            <a 
                href="/configuration" 
                class="bg-primary text-white d-flex justify-content-center align-items-center rounded side-button"
                title="Voltar"
            >
                <i class="bi bi-arrow-return-left fs-1 justify-content-center align-items-center"></i>
            </a>

            <!--Pagina Inicial-->
            <a 
                href="/" 
                class="bg-primary text-white d-flex justify-content-center align-items-center rounded  side-button"
                title="Inicio"
            >
                <i class="bi bi-house fs-1" ></i>
            </a>

        </div>

    </main>
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"
    ></script>

    {% if method=='POST' %}
    <script>
        const t = document.getElementById("toast");
        const toastB = bootstrap.Toast.getOrCreateInstance(t);
        toastB.show()
    </script>
    {% endif %}
    
</body>

</html>